.textos{
    background-color: #EAEBED;
    color: #006989;
}

.grilla1{
    display: flex;
    justify-content: center;
    color: black;
}

.div1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.grilla2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.botonfotos {
    background-color: #007090;
    transition: background-color 0.3s ease-in-out;
}

.botonfotos:hover {
    background-color: #006989;
    color: #EAEBED;
  }

.googleMaps{
    display: flex;
    justify-content: center;
    align-items: center;
}

.datosDePago{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.interfazPago{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonesPagos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

.direccionbotonesPago{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.fechaRecepcion{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputsFechaHora{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/*Para el tamaño del celu*/
@media (max-width: 800px) {
    .datosDePago{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .interfazPago{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inputsFechaHora{
        display: flex;
        flex-direction: column;
    }

    .labelfechas{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .botonConfirmar{
        display: flex;
        justify-content: center;
    }

    .divPagos{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .datosDeLaTarjeta{
        text-align: center;
    }
}